<div class="authwrap">
  <div class="authcard">
    <a class="brand" href={~p"/"} style="margin-bottom:18px">
      <img src={~p"/images/logo-long.png"} alt="AperDesk" width="132" height="44" />
    </a>

    <h1 class="serif">Choose a new password</h1>
    <p class="sub">Signing in on your other devices will need the new one.</p>

    <div :if={@error} class="fe" style="margin-bottom:12px">{@error}</div>

    <.form :let={_f} for={%{}} action={~p"/reset-password/#{@token}"} as={:reset} method="post">
      <input type="hidden" name="_method" value="put" />

      <label for="reset_password">New password</label>
      <input
        type="password"
        id="reset_password"
        name="reset[password]"
        autocomplete="new-password"
        minlength="12"
        required
      />
      <span class="formhint">At least 12 characters. Length beats symbols.</span>

      <label for="reset_password_confirmation">Confirm new password</label>
      <input
        type="password"
        id="reset_password_confirmation"
        name="reset[password_confirmation]"
        autocomplete="new-password"
        required
      />

      <button type="submit" class="btn primary">Change my password</button>
    </.form>
  </div>
</div>
